VITE_FIREBASE_API_KEY=AIzaSyDaVS9gh6XWqxfgmzunkHxHiQWaWMiynp8
VITE_FIREBASE_AUTH_DOMAIN=goc-cua-wey.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=goc-cua-wey
VITE_FIREBASE_STORAGE_BUCKET=goc-cua-wey.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=987729019951
VITE_FIREBASE_APP_ID=1:987729019951:web:2e93f564c3ef3df2eab2da
